<div class="modal fade" id="modal-login-register" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal--login" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

        <div class="modal-account-holder">
          <div class="modal-account__item">

            <!-- Register Form -->
            <form action="#" class="modal-form">
              <h5>Register Now!</h5>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter your email address...">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Enter your password...">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Repeat your password...">
              </div>
              <div class="form-group form-group--submit">
                <a href="shop-account.html" class="btn btn-primary btn-block">Create Your Account</a>
              </div>
              <div class="modal-form--note">You’ll receive a confirmation email in your inbox with a link to activate your account. </div>
            </form>
            <!-- Register Form / End -->

          </div>
          <div class="modal-account__item">

            <!-- Login Form -->
            <form action="#" class="modal-form">
              <h5>Login to your account</h5>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter your email address...">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Enter your password...">
              </div>
              <div class="form-group form-group--pass-reminder">
                <label class="checkbox checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox1" value="option1" checked> Remember Me
                  <span class="checkbox-indicator"></span>
                </label>
                <a href="#">Forgot your password?</a>
              </div>
              <div class="form-group form-group--submit">
                <a href="shop-account.html" class="btn btn-primary-inverse btn-block">Enter to your account</a>
              </div>
              <div class="modal-form--social">
                <h6>or Login with your social profile:</h6>
                <ul class="social-links social-links--btn text-center">
                  <li class="social-links__item">
                    <a href="#" class="social-links__link social-links__link--lg social-links__link--fb"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li class="social-links__item">
                    <a href="#" class="social-links__link social-links__link--lg social-links__link--twitter"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li class="social-links__item">
                    <a href="#" class="social-links__link social-links__link--lg social-links__link--gplus"><i class="fa fa-google-plus"></i></a>
                  </li>
                </ul>
              </div>
            </form>
            <!-- Login Form / End -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
