<script src="{{url('assets/vendor/jquery/jquery.min.js')}}"></script>
<script src="{{url('assets/js/core-min.js')}}"></script>
<script src="{{url('assets/vendor/twitter/jquery.twitter.js')}}"></script>
<script src="{{url('assets/js/init.js')}}"></script>
