<aside class="pushy-panel">
  <div class="pushy-panel__inner">
    <header class="pushy-panel__header">
      <div class="pushy-panel__logo">
        <a href="index.html"><img src="assets/images/logo.html" srcset="assets/images/logo@2x.png 2x" alt="Dota2Buff"></a>
      </div>
    </header>
    <div class="pushy-panel__content">

      <!-- Widget: Posts -->
      <aside class="widget widget--side-panel">
        <div class="widget__content">
          <ul class="posts posts--simple-list posts--simple-list--lg">
            <li class="posts__item posts__item--category-1">
              <div class="posts__inner">
                <div class="posts__cat">
                  <span class="label posts__cat-label">The Team</span>
                </div>
                <h6 class="posts__title"><a href="#">The new eco friendly stadium won a Leafy Award in 2016</a></h6>
                <time datetime="2017-08-23" class="posts__date">August 23rd, 2017</time>
                <div class="posts__excerpt">
                  Lorem ipsum dolor sit amet, consectetur adipisi nel elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini veniam, quis nostrud en derum sum laborem.
                </div>
              </div>
              <footer class="posts__footer card__footer">
                <div class="post-author">
                  <figure class="post-author__avatar">
                    <img src="assets/images/samples/avatar-1.html" alt="Post Author Avatar">
                  </figure>
                  <div class="post-author__info">
                    <h4 class="post-author__name">James Spiegel</h4>
                  </div>
                </div>
                <ul class="post__meta meta">
                  <li class="meta__item meta__item--likes"><a href="#"><i class="meta-like meta-like--active icon-heart"></i> 530</a></li>
                  <li class="meta__item meta__item--comments"><a href="#">18</a></li>
                </ul>
              </footer>
            </li>
            <li class="posts__item posts__item--category-2">
              <div class="posts__inner">
                <div class="posts__cat">
                  <span class="label posts__cat-label">Injuries</span>
                </div>
                <h6 class="posts__title"><a href="#">Mark Johnson has a Tibia Fracture and is gonna be out</a></h6>
                <time datetime="2017-08-23" class="posts__date">August 23rd, 2017</time>
                <div class="posts__excerpt">
                  Lorem ipsum dolor sit amet, consectetur adipisi nel elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini veniam, quis nostrud en derum sum laborem.
                </div>
              </div>
              <footer class="posts__footer card__footer">
                <div class="post-author">
                  <figure class="post-author__avatar">
                    <img src="assets/images/samples/avatar-2.html" alt="Post Author Avatar">
                  </figure>
                  <div class="post-author__info">
                    <h4 class="post-author__name">Jessica Hoops</h4>
                  </div>
                </div>
                <ul class="post__meta meta">
                  <li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
                  <li class="meta__item meta__item--comments"><a href="#">18</a></li>
                </ul>
              </footer>
            </li>
          </ul>
        </div>
      </aside>
      <!-- Widget: Posts / End -->

      <!-- Widget: Tag Cloud -->
      <aside class="widget widget--side-panel widget-tagcloud">
        <div class="widget__title">
          <h4>Tag Cloud</h4>
        </div>
        <div class="widget__content">
          <div class="tagcloud">
            <a href="#" class="btn btn-primary btn-xs btn-outline btn-sm">PLAYOFFS</a>
            <a href="#" class="btn btn-primary btn-xs btn-outline btn-sm">ALCHEMISTS</a>
            <a href="#" class="btn btn-primary btn-xs btn-outline btn-sm">INJURIES</a>
            <a href="#" class="btn btn-primary btn-xs btn-outline btn-sm">TEAM</a>
            <a href="#" class="btn btn-primary btn-xs btn-outline btn-sm">INCORPORATIONS</a>
            <a href="#" class="btn btn-primary btn-xs btn-outline btn-sm">UNIFORMS</a>
            <a href="#" class="btn btn-primary btn-xs btn-outline btn-sm">CHAMPIONS</a>
            <a href="#" class="btn btn-primary btn-xs btn-outline btn-sm">PROFESSIONAL</a>
            <a href="#" class="btn btn-primary btn-xs btn-outline btn-sm">COACH</a>
            <a href="#" class="btn btn-primary btn-xs btn-outline btn-sm">STADIUM</a>
            <a href="#" class="btn btn-primary btn-xs btn-outline btn-sm">NEWS</a>
            <a href="#" class="btn btn-primary btn-xs btn-outline btn-sm">PLAYERS</a>
            <a href="#" class="btn btn-primary btn-xs btn-outline btn-sm">WOMEN DIVISION</a>
            <a href="#" class="btn btn-primary btn-xs btn-outline btn-sm">AWARDS</a>
          </div>
        </div>
      </aside>
      <!-- Widget: Tag Cloud / End -->

      <!-- Widget: Banner -->
      <aside class="widget widget--side-panel widget-banner">
        <div class="widget__content">
          <figure class="widget-banner__img">
            <a href="#"><img src="assets/images/samples/banner.html" alt="Banner"></a>
          </figure>
        </div>
      </aside>
      <!-- Widget: Banner / End -->

    </div>
    <a href="#" class="pushy-panel__back-btn"></a>
  </div>
</aside>
