{% extends 'layouts/default.volt' %}

{% block content %}
{% include "matches/matches-header.volt" %}
<div class="site-content">
  <div class="container">
    <div class="row">
      <div class="content col-md-12">
        <div class="card card--has-table">
          <div class="card__header card__header--has-btn team-radiant">
            <figure style="width:30px;float:left;margin:5px;">
              <svg class="sc-bZQynM eUgjQk" viewBox="0 0 300 300"><ellipse cx="148.6" cy="65.5" rx="35" ry="64.4"></ellipse><path d="M299.3,212.1c0,0-27.5-6.1-27.5-21.5c-0.5-15.4,8.9-22.4,8.9-22.4s-0.9-1.9-0.5-4.2c0.5-2.3,7.9-2.3,7.9-2.3 s-0.9-2.3-0.5-4.7c0-1.9,3.3-4.2,3.3-4.2s-4.2-0.5-5.1-1.9c-1.4-1.4-1.4-3.7-1.4-3.7s-30.3,4.2-28.5-9.8s21.5-13.1,21.5-13.1 l-0.9-7.5c0,0-9.3-0.5-11.7-2.8c-0.9-0.9-8.9-22.9-18.7-40.1c-11.2-19.6-23.8-34.5-23.8-34.5l-9.3,2.8l1.4,19.1 c0,0,13.1,3.3,16.3,13.5c4.7,14.9-8.9,61.6-25.7,67.7c-14,5.1-29.9,0.9-29.9,0.9l-0.5,9.3l16.8,14l-13.5,6.5l-4.2-7l-5.1,8.4h-6.1 l-4.7,5.6l-7.9,0.9l-7.9-1.4l-4.7-5.6h-6.1l-5.6-8.4l-3.7,7.5l-12.6-6.1l16.8-14l-0.5-9.3c0,0-15.9,4.7-29.9-0.9 c-16.8-6.1-30.3-52.7-25.7-67.7c3.3-10.3,16.3-13.5,16.3-13.5l0.9-18.7l-9.3-2.8c0,0-12.6,14.9-23.8,34.5 c-9.8,16.8-17.7,38.7-18.7,40.1c-2.3,1.9-11.7,2.8-11.7,2.8l-0.9,7.5c0,0,19.6-0.5,21.5,13.1c1.9,14-28.5,9.8-28.5,9.8 s0,0.9-1.4,2.8c-1.4,1.4-5.1,1.9-5.1,1.9s3.3,1.9,3.3,4.2c0,1.9-0.5,4.7-0.5,4.7s7.5,0,7.9,2.3c0.5,2.3-0.5,4.2-0.5,4.2 s8.9,7,8.9,22.4c-0.5,14.9-28,21.5-28,21.5l28.9-4.7l8.9,11.7l-5.6,5.1l38.7-3.7c0,0-10.7,9.3-14.9,10.7 c-4.2,1.4-10.3,2.3-10.3,2.3s4.7,4.7,0.5,9.3c-3.7,3.7-12.1,7.5-12.1,7.5l28-11.7h20.1c0,0-12.6,6.1-15.9,8.9 c-3.3,3.3-6.1,9.8-6.1,9.8l-12.6,0.5c0,0,15.4,7,16.3,13.5c0.5,6.5-0.9,9.8-0.9,9.8l9.8,7.5c0,0-4.7-12.6-2.8-15.4 c1.9-2.8,10.7,1.9,14.9,7c6.5,7,7,18.7,7,18.7s0.9-6.1-0.5-14.9c-1.4-10.7-14.9-14.5-19.6-18.2c-4.2-3.3-3.7-9.3-1.4-14 c4.2-7.5,16.8-13.1,16.8-13.1l0.9,4.2l4.7-3.7c0,0,8.9,13.5,8.4,18.2c0,4.7-2.3,7.9-1.9,11.7c0.5,3.7,6.1,10.7,6.1,10.7 s-1.9-5.1-1.4-10.7c0.5-5.6,2.3-11.7,8.4-11.2c7.5,0.5,21,12.1,24.3,18.7c3.3,6.5,3.3,18.7,4.7,18.7s3.3-12.6,4.7-14.9 c1.4-2.3,3.3-2.3,3.3-2.3s1.9,0,3.3,2.3c1.4,2.3,3.3,14.9,4.7,14.9s1.4-12.1,4.7-18.7c3.3-6.5,16.8-18.2,24.3-18.7 c5.6-0.5,7.9,5.6,8.4,11.2c0,5.6-1.4,10.7-1.4,10.7s5.6-6.5,6.1-10.7c0.5-3.7-1.4-7-1.9-11.7c0-4.7,8.4-18.2,8.4-18.2l4.7,3.7 l0.9-4.2c0,0,12.1,5.6,16.8,13.1c2.8,4.2,2.8,10.7-1.4,14c-4.7,3.7-18.2,7.5-19.6,18.2c-1.4,8.9-0.5,14.9-0.5,14.9s0.5-11.7,7-18.7 c4.7-5.1,13.1-9.8,14.9-7s-2.8,15.4-2.8,15.4l9.8-7.5c0,0-1.9-3.3-0.9-9.8c0.5-6.5,16.3-13.5,16.3-13.5h-12.6c0,0-3.3-7-6.1-9.8 c-3.3-3.3-15.9-8.9-15.9-8.9h20.1l28,11.7c0,0-8.4-3.7-12.1-7.5c-4.2-4.2,0.5-9.3,0.5-9.3s-6.1-0.9-10.3-2.3 c-4.2-1.9-14.9-11.2-14.9-11.2l38.7,3.7l-5.6-5.1l8.9-11.7L299.3,212.1z M79.1,212.5l-32.7,3.3l-7-9.3l42.5,1.4L79.1,212.5z M142.1,262.9c-0.9,7.9-0.5,12.1-0.5,12.1s-5.6-7-12.1-13.1c-8.4-7-14.5-7.5-14.5-7.5s7.5-3.7,16.3-3.7s13.5,1.4,13.5,1.4 S142.5,257.3,142.1,262.9z M171,262.5c-7,5.6-12.1,13.1-12.1,13.1s0.5-4.2-0.5-12.1c-0.5-6.1-2.8-10.7-2.8-10.7s4.7-1.4,13.5-1.4 s16.3,3.7,16.3,3.7S179.9,255,171,262.5z M254.1,215.8l-33.1-3.3l-2.8-4.2l42.5-1.4L254.1,215.8z"></path></svg>
            </figure>
            <h5 style="margin-top: 15px;">Radiant Team</h5>
          </div>
          <div class="card__content">
            <div class="table-responsive">
              <table class="table table--lg team-roster-table">
                <thead>
                  <tr>
                    <th class="team-roster-table">Player Name</th>
                    <th class="team-roster-table"></th>
                    <th class="team-roster-table">Lvl</th>
                    <th class="team-roster-table">Kill</th>
                    <th class="team-roster-table">Death</th>
                    <th class="team-roster-table">Assist</th>
                    <th class="team-roster-table">GPM</th>
                    <th class="team-roster-table">XPM</th>
                    <th class="team-roster-table">LH</th>
                    <th class="team-roster-table">DN</th>
                    <th class="team-roster-table text-center">Items</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i, play in detail.radiant.team %}
                  <tr>
                    <td class="team-roster-table__name">
                      <div class="team-meta">
                        <figure class="team-meta__logo">
                          <img src="{{play.hero.image}}" alt="">
                        </figure>
                        <div class="team-meta__info">
                          {% if play.user.name != 'Anonymous' %}
                            <h6 class="team-meta__name"><a style="color:rgb(102, 187, 255)" href="{{url(play.user.link)}}">{{play.user.name}}</a></h6>
                          {% else %}
                            <h6 class="team-meta__name">Anonymous</h6>
                          {% endif %}
                        </div>
                      </div>
                    </td>
                    <td class="team-roster">
                      <figure class="team-meta__logo">
                        <img src="{{play.user.photo}}" alt="">
                      </figure>
                    </td>
                    <td class="team-roster">{{play.hero.level}}</td>
                    <td class="team-roster">{{play.stats.kill}}</td>
                    <td class="team-roster">{{play.stats.death}}</td>
                    <td class="team-roster">{{play.stats.assist}}</td>
                    <td class="team-roster">{{play.stats.gold_per_min}}</td>
                    <td class="team-roster">{{play.stats.exp_per_min}}</td>
                    <td class="team-roster">{{play.stats.last_hit}}</td>
                    <td class="team-roster">{{play.stats.denied}}</td>
                    <td class="team-roster">
                      {% for i, item in play.item_builds %}
                        <figure class="team-meta__logo">
                          <img src="{{item.image}}" alt="{{item.name}}">
                        </figure>
                      {% endfor %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {% if detail.radiant.ban|length > 0 %}
          <div class="card">
            <div class="card__header team-radiant">
              <figure style="width:30px;float:left;margin:5px;">
                <svg class="sc-bZQynM eUgjQk" viewBox="0 0 300 300"><ellipse cx="148.6" cy="65.5" rx="35" ry="64.4"></ellipse><path d="M299.3,212.1c0,0-27.5-6.1-27.5-21.5c-0.5-15.4,8.9-22.4,8.9-22.4s-0.9-1.9-0.5-4.2c0.5-2.3,7.9-2.3,7.9-2.3 s-0.9-2.3-0.5-4.7c0-1.9,3.3-4.2,3.3-4.2s-4.2-0.5-5.1-1.9c-1.4-1.4-1.4-3.7-1.4-3.7s-30.3,4.2-28.5-9.8s21.5-13.1,21.5-13.1 l-0.9-7.5c0,0-9.3-0.5-11.7-2.8c-0.9-0.9-8.9-22.9-18.7-40.1c-11.2-19.6-23.8-34.5-23.8-34.5l-9.3,2.8l1.4,19.1 c0,0,13.1,3.3,16.3,13.5c4.7,14.9-8.9,61.6-25.7,67.7c-14,5.1-29.9,0.9-29.9,0.9l-0.5,9.3l16.8,14l-13.5,6.5l-4.2-7l-5.1,8.4h-6.1 l-4.7,5.6l-7.9,0.9l-7.9-1.4l-4.7-5.6h-6.1l-5.6-8.4l-3.7,7.5l-12.6-6.1l16.8-14l-0.5-9.3c0,0-15.9,4.7-29.9-0.9 c-16.8-6.1-30.3-52.7-25.7-67.7c3.3-10.3,16.3-13.5,16.3-13.5l0.9-18.7l-9.3-2.8c0,0-12.6,14.9-23.8,34.5 c-9.8,16.8-17.7,38.7-18.7,40.1c-2.3,1.9-11.7,2.8-11.7,2.8l-0.9,7.5c0,0,19.6-0.5,21.5,13.1c1.9,14-28.5,9.8-28.5,9.8 s0,0.9-1.4,2.8c-1.4,1.4-5.1,1.9-5.1,1.9s3.3,1.9,3.3,4.2c0,1.9-0.5,4.7-0.5,4.7s7.5,0,7.9,2.3c0.5,2.3-0.5,4.2-0.5,4.2 s8.9,7,8.9,22.4c-0.5,14.9-28,21.5-28,21.5l28.9-4.7l8.9,11.7l-5.6,5.1l38.7-3.7c0,0-10.7,9.3-14.9,10.7 c-4.2,1.4-10.3,2.3-10.3,2.3s4.7,4.7,0.5,9.3c-3.7,3.7-12.1,7.5-12.1,7.5l28-11.7h20.1c0,0-12.6,6.1-15.9,8.9 c-3.3,3.3-6.1,9.8-6.1,9.8l-12.6,0.5c0,0,15.4,7,16.3,13.5c0.5,6.5-0.9,9.8-0.9,9.8l9.8,7.5c0,0-4.7-12.6-2.8-15.4 c1.9-2.8,10.7,1.9,14.9,7c6.5,7,7,18.7,7,18.7s0.9-6.1-0.5-14.9c-1.4-10.7-14.9-14.5-19.6-18.2c-4.2-3.3-3.7-9.3-1.4-14 c4.2-7.5,16.8-13.1,16.8-13.1l0.9,4.2l4.7-3.7c0,0,8.9,13.5,8.4,18.2c0,4.7-2.3,7.9-1.9,11.7c0.5,3.7,6.1,10.7,6.1,10.7 s-1.9-5.1-1.4-10.7c0.5-5.6,2.3-11.7,8.4-11.2c7.5,0.5,21,12.1,24.3,18.7c3.3,6.5,3.3,18.7,4.7,18.7s3.3-12.6,4.7-14.9 c1.4-2.3,3.3-2.3,3.3-2.3s1.9,0,3.3,2.3c1.4,2.3,3.3,14.9,4.7,14.9s1.4-12.1,4.7-18.7c3.3-6.5,16.8-18.2,24.3-18.7 c5.6-0.5,7.9,5.6,8.4,11.2c0,5.6-1.4,10.7-1.4,10.7s5.6-6.5,6.1-10.7c0.5-3.7-1.4-7-1.9-11.7c0-4.7,8.4-18.2,8.4-18.2l4.7,3.7 l0.9-4.2c0,0,12.1,5.6,16.8,13.1c2.8,4.2,2.8,10.7-1.4,14c-4.7,3.7-18.2,7.5-19.6,18.2c-1.4,8.9-0.5,14.9-0.5,14.9s0.5-11.7,7-18.7 c4.7-5.1,13.1-9.8,14.9-7s-2.8,15.4-2.8,15.4l9.8-7.5c0,0-1.9-3.3-0.9-9.8c0.5-6.5,16.3-13.5,16.3-13.5h-12.6c0,0-3.3-7-6.1-9.8 c-3.3-3.3-15.9-8.9-15.9-8.9h20.1l28,11.7c0,0-8.4-3.7-12.1-7.5c-4.2-4.2,0.5-9.3,0.5-9.3s-6.1-0.9-10.3-2.3 c-4.2-1.9-14.9-11.2-14.9-11.2l38.7,3.7l-5.6-5.1l8.9-11.7L299.3,212.1z M79.1,212.5l-32.7,3.3l-7-9.3l42.5,1.4L79.1,212.5z M142.1,262.9c-0.9,7.9-0.5,12.1-0.5,12.1s-5.6-7-12.1-13.1c-8.4-7-14.5-7.5-14.5-7.5s7.5-3.7,16.3-3.7s13.5,1.4,13.5,1.4 S142.5,257.3,142.1,262.9z M171,262.5c-7,5.6-12.1,13.1-12.1,13.1s0.5-4.2-0.5-12.1c-0.5-6.1-2.8-10.7-2.8-10.7s4.7-1.4,13.5-1.4 s16.3,3.7,16.3,3.7S179.9,255,171,262.5z M254.1,215.8l-33.1-3.3l-2.8-4.2l42.5-1.4L254.1,215.8z"></path></svg>
              </figure>
              <h5 style="margin-top: 15px;">Ban Hero</h5>
            </div>
            <div class="card__content">
            {% for i, ban in detail.radiant.ban %}
              <img src="{{ban.image}}" style="width:100px;height:auto" alt="{{ban.name}}">
            {% endfor %}
            </div>
          </div>
        {% endif %}

        <div class="card card--has-table">
          <div class="card__header card__header--has-btn team-dire">
            <figure style="width:30px;float:left;margin:5px;">
              <svg class="sc-bZQynM eUgjQk" viewBox="0 0 300 300"><ellipse cx="148.6" cy="65.5" rx="35" ry="64.4"></ellipse><path d="M299.3,212.1c0,0-27.5-6.1-27.5-21.5c-0.5-15.4,8.9-22.4,8.9-22.4s-0.9-1.9-0.5-4.2c0.5-2.3,7.9-2.3,7.9-2.3 s-0.9-2.3-0.5-4.7c0-1.9,3.3-4.2,3.3-4.2s-4.2-0.5-5.1-1.9c-1.4-1.4-1.4-3.7-1.4-3.7s-30.3,4.2-28.5-9.8s21.5-13.1,21.5-13.1 l-0.9-7.5c0,0-9.3-0.5-11.7-2.8c-0.9-0.9-8.9-22.9-18.7-40.1c-11.2-19.6-23.8-34.5-23.8-34.5l-9.3,2.8l1.4,19.1 c0,0,13.1,3.3,16.3,13.5c4.7,14.9-8.9,61.6-25.7,67.7c-14,5.1-29.9,0.9-29.9,0.9l-0.5,9.3l16.8,14l-13.5,6.5l-4.2-7l-5.1,8.4h-6.1 l-4.7,5.6l-7.9,0.9l-7.9-1.4l-4.7-5.6h-6.1l-5.6-8.4l-3.7,7.5l-12.6-6.1l16.8-14l-0.5-9.3c0,0-15.9,4.7-29.9-0.9 c-16.8-6.1-30.3-52.7-25.7-67.7c3.3-10.3,16.3-13.5,16.3-13.5l0.9-18.7l-9.3-2.8c0,0-12.6,14.9-23.8,34.5 c-9.8,16.8-17.7,38.7-18.7,40.1c-2.3,1.9-11.7,2.8-11.7,2.8l-0.9,7.5c0,0,19.6-0.5,21.5,13.1c1.9,14-28.5,9.8-28.5,9.8 s0,0.9-1.4,2.8c-1.4,1.4-5.1,1.9-5.1,1.9s3.3,1.9,3.3,4.2c0,1.9-0.5,4.7-0.5,4.7s7.5,0,7.9,2.3c0.5,2.3-0.5,4.2-0.5,4.2 s8.9,7,8.9,22.4c-0.5,14.9-28,21.5-28,21.5l28.9-4.7l8.9,11.7l-5.6,5.1l38.7-3.7c0,0-10.7,9.3-14.9,10.7 c-4.2,1.4-10.3,2.3-10.3,2.3s4.7,4.7,0.5,9.3c-3.7,3.7-12.1,7.5-12.1,7.5l28-11.7h20.1c0,0-12.6,6.1-15.9,8.9 c-3.3,3.3-6.1,9.8-6.1,9.8l-12.6,0.5c0,0,15.4,7,16.3,13.5c0.5,6.5-0.9,9.8-0.9,9.8l9.8,7.5c0,0-4.7-12.6-2.8-15.4 c1.9-2.8,10.7,1.9,14.9,7c6.5,7,7,18.7,7,18.7s0.9-6.1-0.5-14.9c-1.4-10.7-14.9-14.5-19.6-18.2c-4.2-3.3-3.7-9.3-1.4-14 c4.2-7.5,16.8-13.1,16.8-13.1l0.9,4.2l4.7-3.7c0,0,8.9,13.5,8.4,18.2c0,4.7-2.3,7.9-1.9,11.7c0.5,3.7,6.1,10.7,6.1,10.7 s-1.9-5.1-1.4-10.7c0.5-5.6,2.3-11.7,8.4-11.2c7.5,0.5,21,12.1,24.3,18.7c3.3,6.5,3.3,18.7,4.7,18.7s3.3-12.6,4.7-14.9 c1.4-2.3,3.3-2.3,3.3-2.3s1.9,0,3.3,2.3c1.4,2.3,3.3,14.9,4.7,14.9s1.4-12.1,4.7-18.7c3.3-6.5,16.8-18.2,24.3-18.7 c5.6-0.5,7.9,5.6,8.4,11.2c0,5.6-1.4,10.7-1.4,10.7s5.6-6.5,6.1-10.7c0.5-3.7-1.4-7-1.9-11.7c0-4.7,8.4-18.2,8.4-18.2l4.7,3.7 l0.9-4.2c0,0,12.1,5.6,16.8,13.1c2.8,4.2,2.8,10.7-1.4,14c-4.7,3.7-18.2,7.5-19.6,18.2c-1.4,8.9-0.5,14.9-0.5,14.9s0.5-11.7,7-18.7 c4.7-5.1,13.1-9.8,14.9-7s-2.8,15.4-2.8,15.4l9.8-7.5c0,0-1.9-3.3-0.9-9.8c0.5-6.5,16.3-13.5,16.3-13.5h-12.6c0,0-3.3-7-6.1-9.8 c-3.3-3.3-15.9-8.9-15.9-8.9h20.1l28,11.7c0,0-8.4-3.7-12.1-7.5c-4.2-4.2,0.5-9.3,0.5-9.3s-6.1-0.9-10.3-2.3 c-4.2-1.9-14.9-11.2-14.9-11.2l38.7,3.7l-5.6-5.1l8.9-11.7L299.3,212.1z M79.1,212.5l-32.7,3.3l-7-9.3l42.5,1.4L79.1,212.5z M142.1,262.9c-0.9,7.9-0.5,12.1-0.5,12.1s-5.6-7-12.1-13.1c-8.4-7-14.5-7.5-14.5-7.5s7.5-3.7,16.3-3.7s13.5,1.4,13.5,1.4 S142.5,257.3,142.1,262.9z M171,262.5c-7,5.6-12.1,13.1-12.1,13.1s0.5-4.2-0.5-12.1c-0.5-6.1-2.8-10.7-2.8-10.7s4.7-1.4,13.5-1.4 s16.3,3.7,16.3,3.7S179.9,255,171,262.5z M254.1,215.8l-33.1-3.3l-2.8-4.2l42.5-1.4L254.1,215.8z"></path></svg>
            </figure>
            <h5 style="margin-top: 15px;">Dire Team</h5>
          </div>
          <div class="card__content">
            <div class="table-responsive">
              <table class="table table--lg team-roster-table">
                <thead>
                  <tr>
                    <th class="team-roster-table">Player Name</th>
                    <th class="team-roster-table"></th>
                    <th class="team-roster-table">Lvl</th>
                    <th class="team-roster-table">Kill</th>
                    <th class="team-roster-table">Death</th>
                    <th class="team-roster-table">Assist</th>
                    <th class="team-roster-table">GPM</th>
                    <th class="team-roster-table">XPM</th>
                    <th class="team-roster-table">LH</th>
                    <th class="team-roster-table">DN</th>
                    <th class="team-roster-table text-center">Items</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i, play in detail.dire.team %}
                  <tr>
                    <td class="team-roster-table__name">
                      <div class="team-meta">
                        <figure class="team-meta__logo">
                          <img src="{{play.hero.image}}" alt="">
                        </figure>
                        <div class="team-meta__info">
                          {% if play.user.name != 'Anonymous' %}
                            <h6 class="team-meta__name"><a style="color:rgb(102, 187, 255)" href="{{url(play.user.link)}}">{{play.user.name}}</a></h6>
                          {% else %}
                            <h6 class="team-meta__name">Anonymous</h6>
                          {% endif %}
                        </div>
                      </div>
                    </td>
                    <td class="team-roster">
                      <figure class="team-meta__logo">
                        <img src="{{play.user.photo}}" alt="">
                      </figure>
                    </td>
                    <td class="team-roster">{{play.hero.level}}</td>
                    <td class="team-roster">{{play.stats.kill}}</td>
                    <td class="team-roster">{{play.stats.death}}</td>
                    <td class="team-roster">{{play.stats.assist}}</td>
                    <td class="team-roster">{{play.stats.gold_per_min}}</td>
                    <td class="team-roster">{{play.stats.exp_per_min}}</td>
                    <td class="team-roster">{{play.stats.last_hit}}</td>
                    <td class="team-roster">{{play.stats.denied}}</td>
                    <td class="team-roster">
                      {% for i, item in play.item_builds %}
                        <figure class="team-meta__logo">
                          <img src="{{item.image}}" alt="{{item.name}}">
                        </figure>
                      {% endfor %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        {% if detail.dire.ban|length > 0 %}
          <div class="card">
            <div class="card__header team-dire">
              <figure style="width:30px;float:left;margin:5px;">
                <svg class="sc-bZQynM eUgjQk" viewBox="0 0 300 300"><ellipse cx="148.6" cy="65.5" rx="35" ry="64.4"></ellipse><path d="M299.3,212.1c0,0-27.5-6.1-27.5-21.5c-0.5-15.4,8.9-22.4,8.9-22.4s-0.9-1.9-0.5-4.2c0.5-2.3,7.9-2.3,7.9-2.3 s-0.9-2.3-0.5-4.7c0-1.9,3.3-4.2,3.3-4.2s-4.2-0.5-5.1-1.9c-1.4-1.4-1.4-3.7-1.4-3.7s-30.3,4.2-28.5-9.8s21.5-13.1,21.5-13.1 l-0.9-7.5c0,0-9.3-0.5-11.7-2.8c-0.9-0.9-8.9-22.9-18.7-40.1c-11.2-19.6-23.8-34.5-23.8-34.5l-9.3,2.8l1.4,19.1 c0,0,13.1,3.3,16.3,13.5c4.7,14.9-8.9,61.6-25.7,67.7c-14,5.1-29.9,0.9-29.9,0.9l-0.5,9.3l16.8,14l-13.5,6.5l-4.2-7l-5.1,8.4h-6.1 l-4.7,5.6l-7.9,0.9l-7.9-1.4l-4.7-5.6h-6.1l-5.6-8.4l-3.7,7.5l-12.6-6.1l16.8-14l-0.5-9.3c0,0-15.9,4.7-29.9-0.9 c-16.8-6.1-30.3-52.7-25.7-67.7c3.3-10.3,16.3-13.5,16.3-13.5l0.9-18.7l-9.3-2.8c0,0-12.6,14.9-23.8,34.5 c-9.8,16.8-17.7,38.7-18.7,40.1c-2.3,1.9-11.7,2.8-11.7,2.8l-0.9,7.5c0,0,19.6-0.5,21.5,13.1c1.9,14-28.5,9.8-28.5,9.8 s0,0.9-1.4,2.8c-1.4,1.4-5.1,1.9-5.1,1.9s3.3,1.9,3.3,4.2c0,1.9-0.5,4.7-0.5,4.7s7.5,0,7.9,2.3c0.5,2.3-0.5,4.2-0.5,4.2 s8.9,7,8.9,22.4c-0.5,14.9-28,21.5-28,21.5l28.9-4.7l8.9,11.7l-5.6,5.1l38.7-3.7c0,0-10.7,9.3-14.9,10.7 c-4.2,1.4-10.3,2.3-10.3,2.3s4.7,4.7,0.5,9.3c-3.7,3.7-12.1,7.5-12.1,7.5l28-11.7h20.1c0,0-12.6,6.1-15.9,8.9 c-3.3,3.3-6.1,9.8-6.1,9.8l-12.6,0.5c0,0,15.4,7,16.3,13.5c0.5,6.5-0.9,9.8-0.9,9.8l9.8,7.5c0,0-4.7-12.6-2.8-15.4 c1.9-2.8,10.7,1.9,14.9,7c6.5,7,7,18.7,7,18.7s0.9-6.1-0.5-14.9c-1.4-10.7-14.9-14.5-19.6-18.2c-4.2-3.3-3.7-9.3-1.4-14 c4.2-7.5,16.8-13.1,16.8-13.1l0.9,4.2l4.7-3.7c0,0,8.9,13.5,8.4,18.2c0,4.7-2.3,7.9-1.9,11.7c0.5,3.7,6.1,10.7,6.1,10.7 s-1.9-5.1-1.4-10.7c0.5-5.6,2.3-11.7,8.4-11.2c7.5,0.5,21,12.1,24.3,18.7c3.3,6.5,3.3,18.7,4.7,18.7s3.3-12.6,4.7-14.9 c1.4-2.3,3.3-2.3,3.3-2.3s1.9,0,3.3,2.3c1.4,2.3,3.3,14.9,4.7,14.9s1.4-12.1,4.7-18.7c3.3-6.5,16.8-18.2,24.3-18.7 c5.6-0.5,7.9,5.6,8.4,11.2c0,5.6-1.4,10.7-1.4,10.7s5.6-6.5,6.1-10.7c0.5-3.7-1.4-7-1.9-11.7c0-4.7,8.4-18.2,8.4-18.2l4.7,3.7 l0.9-4.2c0,0,12.1,5.6,16.8,13.1c2.8,4.2,2.8,10.7-1.4,14c-4.7,3.7-18.2,7.5-19.6,18.2c-1.4,8.9-0.5,14.9-0.5,14.9s0.5-11.7,7-18.7 c4.7-5.1,13.1-9.8,14.9-7s-2.8,15.4-2.8,15.4l9.8-7.5c0,0-1.9-3.3-0.9-9.8c0.5-6.5,16.3-13.5,16.3-13.5h-12.6c0,0-3.3-7-6.1-9.8 c-3.3-3.3-15.9-8.9-15.9-8.9h20.1l28,11.7c0,0-8.4-3.7-12.1-7.5c-4.2-4.2,0.5-9.3,0.5-9.3s-6.1-0.9-10.3-2.3 c-4.2-1.9-14.9-11.2-14.9-11.2l38.7,3.7l-5.6-5.1l8.9-11.7L299.3,212.1z M79.1,212.5l-32.7,3.3l-7-9.3l42.5,1.4L79.1,212.5z M142.1,262.9c-0.9,7.9-0.5,12.1-0.5,12.1s-5.6-7-12.1-13.1c-8.4-7-14.5-7.5-14.5-7.5s7.5-3.7,16.3-3.7s13.5,1.4,13.5,1.4 S142.5,257.3,142.1,262.9z M171,262.5c-7,5.6-12.1,13.1-12.1,13.1s0.5-4.2-0.5-12.1c-0.5-6.1-2.8-10.7-2.8-10.7s4.7-1.4,13.5-1.4 s16.3,3.7,16.3,3.7S179.9,255,171,262.5z M254.1,215.8l-33.1-3.3l-2.8-4.2l42.5-1.4L254.1,215.8z"></path></svg>
              </figure>
              <h5 style="margin-top: 15px;">Ban Hero</h5>
            </div>
            <div class="card__content">
            {% for i, ban in detail.dire.ban %}
              <img src="{{ban.image}}" style="width:100px;height:auto" alt="{{ban.name}}">
            {% endfor %}
            </div>
          </div>
        {% endif %}
        {# <div class="card"></div> #}
        <div class="card card--has-table">
          <div class="card__header card__header--has-btn">
            <h5 style="margin-top: 15px;">Player Performance</h5>
          </div>
          <div class="card__content">
            <div class="table-responsive">
              <table class="table table--lg team-roster-table">
                <thead>
                  <tr>
                    <th class="team-roster-table">Player Name</th>
                    <th class="team-roster-table"></th>
                    <th class="team-roster-table text-center">Mvp</th>
                    <th class="team-roster-table">Lvl</th>
                    <th class="team-roster-table text-right">Kill / Kill(%)</th>
                    <th class="team-roster-table text-right">Death / Death(%)</th>
                    <th class="team-roster-table text-right">Assist / Assist(%)</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i, play in detail.players %}
                  <tr {% if play.mvp_kill == true %} class="kill" {% elseif play.mvp_death == true %} class="feed" {% elseif play.mvp_assist == true %} class="assist" {% endif %}>
                    <td class="team-roster-table__name">
                      <div class="team-meta">
                        <figure class="team-meta__logo">
                          <img src="{{play.hero.image}}" alt="">
                        </figure>
                        <div class="team-meta__info">
                          {% if play.user.name != 'Anonymous' %}
                            <h6 class="team-meta__name"><a style="color:rgb(102, 187, 255)" href="{{url(play.user.link)}}">{{play.user.name}}</a></h6>
                          {% else %}
                            <h6 class="team-meta__name">Anonymous</h6>
                          {% endif %}
                        </div>
                      </div>
                    </td>
                    <td class="team-roster">
                      <figure class="team-meta__logo">
                        <img src="{{play.user.photo}}" alt="">
                      </figure>
                    </td>
                    <td class="team-roster text-center">
                      {% if play.mvp_kill == true %}
                        <div class="mvp kill">Killer</div>
                      {% elseif play.mvp_death == true %}
                        <div class="mvp feed">Feeder</div>
                      {% elseif play.mvp_assist == true %}
                        <div class="mvp assist">Assistant</div>
                      {% endif %}
                    </td>
                    <td class="team-roster">{{play.hero.level}}</td>
                    <td class="team-roster">
                      <p style="margin:0;">{{play.stats.kill}} / {{play.overall.kill}}</p>
                      <div class="bar-container">
                        <div class="percent yellow" style="width:{{play.overall.kill}};"></div>
                      </div>
                    </td>
                    <td class="team-roster">
                      <p style="margin:0;">{{play.stats.death}} / {{play.overall.death}}</p>
                      <div class="bar-container">
                        <div class="percent red" style="width:{{play.overall.death}};"></div>
                      </div>
                    </td>
                    <td class="team-roster">
                      <p style="margin:0;">{{play.stats.assist}} / {{play.overall.assist}}</p>
                      <div class="bar-container">
                        <div class="percent blue" style="width:{{play.overall.assist}};"></div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="card card--has-table">
          <div class="card__header card__header--has-btn">
            <h5 style="margin-top: 15px;">Combat Log </h5>
          </div>
          <div class="card__content">
            <div class="table-responsive">
              <table class="table table--lg team-roster-table">
                <thead>
                  <tr>
                    <th class="team-roster-table">Hero Name</th>
                    <th class="team-roster-table">Time</th>
                    <th class="team-roster-table">Kill</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i, player in matches.match.players %}
                  <tr>
                    <td class="team-roster-table__name">
                      <div class="team-meta">
                        <figure class="team-meta__logo">
                          <img src="{{url('https://api.opendota.com' ~ player.hero.img)}}" alt="">
                        </figure>
                        <div class="team-meta__info">
                          {% if player.account_id %}
                            <h6 class="team-meta__name"><a style="color:rgb(102, 187, 255)" href="{{url('players/'~player.account_id)}}">{{player.personaname}}</a></h6>
                          {% else %}
                            <h6 class="team-meta__name">Anonymous</h6>
                          {% endif %}
                          as {{player.hero.localized_name}}
                        </div>
                      </div>
                    </td>
                    <td class="team-roster-table__name">
                      {% for i, combat_log in player.combat_log %}
                        {{combat_log.time}}</br>
                      {% endfor %}
                    </td>
                    <td class="team-roster-table__name">
                      {% for i, combat_log in player.combat_log %}
                        {{combat_log.key}}</br>
                      {% endfor %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block styles %}
<style>
.mvp {
  border-radius: 25%;
  color:black;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  height: 30px;
  width: 70px;
  margin: auto;
}
.kill {
  background: rgba(255, 215, 0, 0.59);
  font-weight: bold;
  color:black;
}
.feed {
  background: rgba(255, 0, 0, 0.64);
}
.assist {
  background: rgba(0, 79, 255, 0.44);
}
.mvp.kill {
  background: rgb(255,215,0);
}
.mvp.feed {
  background: rgb(255, 0, 0);
}
.mvp.assist {
  background: rgb(0, 79, 255);
}
.bar-container {
  width: 100%;
  background-color: rgb(150, 150, 150);
  height: auto;
  margin: auto;
}
.bar-container .percent.green {
  background-color: rgb(50, 231, 5);
  height: 10px;
}
.bar-container .percent.blue {
  background: rgb(0, 79, 255);
  height: 10px;
}
.bar-container .percent.red {
  background-color: rgb(255, 0, 0);
  height: 10px;
}
.bar-container .percent.yellow {
  background-color: rgb(255,215,0);
  height: 10px;
}

.team-radiant {
  color: rgb(76, 237, 83) !important;
  fill: currentColor;
}
.team-radiant h5 {
  color: currentColor;
}
.team-win {
  filter: drop-shadow(rgb(255, 171, 64) 0px 0px 4px);
}
.team-dire {
  color: rgb(221, 38, 13) !important;
  fill: currentColor;
}
.team-dire h5 {
  color: currentColor;
}
.score-lose {
  color: rgb(139, 139, 139);
}
.score-win {
  color: rgb(242, 234, 33);
}
</style>
{% endblock %}
{% block scripts %}

{% endblock %}
